@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root {
    --amarillo: #FAE16C;
    --azul: #00072D;
    --azul-50: rgba(0, 7, 45, .5);
    --naranja: #F19920;
}


*,
::before,
::after,
html,
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    background: #F8F8F8;
    color: var(--azul);
    background: #fff;
    line-height: 2;
}

p {
    letter-spacing: 0.1em;
}

.titulo {
    letter-spacing: .1em;
    font-size: 36px;
    color: #559EB7;
    text-transform: uppercase;
}

.text-icon {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    margin-top: 10px;
}


.text-amarillo {
    color: var(--amarillo);
}

.bg-amarillo {
    background-color: var(--amarillo);
}

.text-naranja {
    color: var(--naranja);
}

.bg-naranja {
    background: var(--naranja);
}

.rgba-azul-50 {
    background-color: var(--azul-50);
}

.btnPrincipal {
    color: #fff !important;
    background: var(--naranja);
    border: 2px solid #fff !important;
}

.navbar {
    box-shadow: none;
}

.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
    background-color: transparent;
    color: var(--amarillo);
}

.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: var(--amarillo);
}

.page-footer,
.top-nav-collapse {
    background-color: #1C2331;
}

.carousel {
    height: 90%;
}

.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view {
    height: 100%;
}

.carouselIntro {
    position: relative;
    background: var(--azul-50);
    min-width: 350px;
    z-index: 1;
}

.carouselIntro::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    width: 37px;
    height: 37px;
    background: var(--amarillo);
}

.carouselIntro::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -35px;
    width: 37px;
    height: 37px;
    background: #559EB7;
    z-index: -1;
}

.carouselText {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.carouselText strong {
    font-size: 48px;
    color: var(--amarillo);
}

.carouselText span {
    font-size: 24px;
    color: #fff;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 7%;
    left: inherit;
    z-index: 15;
    display: block;
    -ms-flex-pack: center;
    align-items: center;
    justify-content: center;
    padding-left: inherit;
    margin-right: 1.5rem;
    margin-bottom: 0;
    margin-left: inherit;
    list-style: none;
}

.carousel .carousel-indicators li.active {
    color: var(--amarillo);
}

.carousel .carousel-indicators li {
    color: #fff;
    opacity: 1;
    text-indent: 0;
    width: 20px;
    height: 30px;
    border: none;
    background-color: transparent;
    position: relative;
}

.carousel .carousel-indicators li::before {
    content: "";
    position: absolute;
    left: -130%;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 20px;
    background: #fff;
    transition: all .5s ease;
}

.carousel-indicators li.active::before {
    width: 35px;
    left: -200%;
    background: var(--amarillo);
}

.introHero .introHeroCol:nth-child(2n+1) {
    background: #559EB7;
}

.introHero .introHeroCol:nth-child(2n) {
    background: #174972;
}

#notreEntreprise .entrepriseImg {
    background: linear-gradient(var(--azul-50), var(--azul-50)), url(../img/Landing/img4.png) no-repeat center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resumen {
    background: linear-gradient(var(--azul-50), var(--azul-50)), url(../img/Landing/haiti.jpg) no-repeat center;
    background-size: cover;
}

#resumen .col-6 {
    position: relative;
    background: var(--azul-50);
}

#resumen .col-6:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 70%;
    width: 1px;
    background: #828A9E;
}

#projetsIntro .card {
    height: 300px;
    border: 2px solid var(--azul-50);
    padding: .1rem !important;
    box-shadow: none;
    transition: all .4s ease;
}

#projetsIntro .card:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-img-overlay {
    margin: 0.1rem;
    padding: inherit;
    transition: all .4s ease;
}

#projetsIntro .card-img-overlay .card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 10px 0px 0px;
    font-size: 12px;
    background: #fff;
    color: var(--naranja);
    padding: .25rem 1rem;
}

.card:hover .card-img-overlay {
    background: var(--azul-50);
}

#participationIntro {
    background: linear-gradient(var(--azul-50), var(--azul-50)), url(../img/Landing/img5.png) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#participationIntro .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#participationIntro .scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

#participationIntro .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--azul-50);
    z-index: -1;
}

#participationIntro .scrolling-wrapper .card {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px dotted var(--naranja);
    background: transparent;
    padding: .2rem;
}

#participationIntro .card-img {
    border-radius: 50%;
}

.conteo {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px auto;
}

.participationText {
    border: 1px solid var(--naranja);
    display: inline-block;
    padding: 0 .5rem;
    position: relative;
    z-index: 1;
}

.participationText::after {
    content: "";
    position: absolute;
    bottom: -8%;
    left: -5%;
    width: 110%;
    height: 100%;
    z-index: -1;
    background: var(--amarillo);
}


@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .carousel {
        height: 100%;
    }

    .carouselIntro {
        width: 100%;
        text-align: center;
    }

    .carousel-indicators {
        display: none;
    }

    .carouselIntro::before,
    .carouselIntro::after {
        display: none
    }

    .carouselText strong {
        font-size: 30px;
    }

    .carouselText span {
        font-size: 16px;
    }

    .titulo {
        font-size: 24px;
    }

    .text-icon {
        font-size: 12px;
    }
}
